.campaigns-container {
    text-align: center;
    padding: 20px;
  }
  
  .header {
    margin-bottom: 40px;
  }
  
  .header p {
    color: gray;
    width: 600px;
    text-align: center;
    margin: 0 auto; 
  }
  
  .campaign-card {
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    justify-content: space-between;
  }
  
  .campaign-cards {
    display: inline-flex;
    gap: 20px;
    max-width: 800px;
  }
  
  .campaign-card img {
    max-width: 100%;
    height: auto;
  }
  
  .campaign-card a {
    text-decoration: none;
    color: #0078d4;
    font-weight: bold;
  }
  
  .campaign-card a span {
    margin-left: 5px;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .campaigns-container {
      padding: 10px; 
    }
  
    .campaign-card {
      max-width: 100%; 
    }
  
    .header p {
      width: auto; 
    }
  }
  